{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<div class="jumbotron" id="headline">
    <h1 id="name-head"><b>Salah Zahran</b></h1>
    <hr>
    <h5 id="college">State University of New York College at Buffalo</h5>
    <p id="degree">Bachelor of Science in Computer Information Systems</p>
    <h5></h5>
</div>

<div class="jumbotron", id="border">
    <div class="row", id="description">
        <div class="col-md-4">
            <img src="../static/images/salah-pic1.jpg", class="pic"><br>
            <br>
            <button type="button" class="btn btn-primary btn-lg" id="button"> 
            <a href="./resume/salah-zahran-resume.pdf" id="resume-btn" download="sz-resume.pdf">Download Resume</a>
            </button>
        </div>
        <div class="col-md-8">
            <h2>About Me</h2>
            <p>I'm Salah and I am fresh graduate in Computer Science. I love coding websites and 
                <br>making cool and fun programs. I am a python programmer and I love web development,
                <br>data science and machine learning! I'm currently working on my Master's degree, but 
                <br>am also looking for an entry level position in the meantime as well. I encourage anyone
                <br>to reach out to me, and also check out some of the projects I've created.</p> 
                <br>
            <h2 id="achievements">Achievements</h2>
            <ul>
                <li>Honor Roll - <i>Magna Cum Laude</i>, GPA: 3.72</li>
                <li>Dean's List - National Honors Society</li>
                <li>Student Merit Scholarship - Graduate Student Grant of 50% tuition costs</li>
            </ul>
            <br>
            <h2 id="interests">Interests</h2>
            <ul>
                <li>Mathematics - Calculus, Linear algebra</li>
                <li>Software Development - web app development(full-stack), APIs </li>
                <li>Data Science - Data analysis, Machine/Deep Learning, Computer Vision</li>
                <li>Hobbies - Reading, Basketball, Video games</li>
            </ul><br>
        </div>
    <div>
</div>

<div class="container">
    <hr><br>
    <center><h1><b>Technical Skills</b></h1></center><br>
    <br>
    
    <div>
        <h4>Python - 4/5</h4>
        <ul>
            <li>Back-end Development(Flask, Django, Selenium, Rest APIs)</li>
            <li>Data Analysis/Machine Learning(Pandas, Seaborn, Scikit-learn, TensorFlow)</li>
            <li>Applications/UI Development(Tkinter, Kivy)</li>
        </ul>
    </div>
    <br>

    <div>
        <h4>Databases/SQL - 4/5</h4>
        <ul>
            <li>MySQL, SQLite, SQLAlchemy, PostgreSQL, Oracle</li>
            <li>Microsoft Excel, CSV, JSON, XML</li>
        </ul>
    </div>
    <br>

    <div>
        <h4>Front-end Development - 3/5</h4>
        <ul>
            <li>Languages(HTML, CSS, JavaScript)</li>
            <li>Frameworks(jQuery, Bootstrap)</li>
        </ul>
    </div>
    <br>

    <div>
        <h4>Operating Systems/Deployment - 3/5</h4>
        <ul>
            <li>Operating Systems(Microsoft Windows, Linux)</li>
            <li>Deployment/Version Control(Heroku, Github Pages, Git/Github</li>
        </ul>
    </div>
</div>

</div>
</div>
</div>

{% endblock %}