{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<br>
<div class="jumbotron">
    <h1 id="name-head">Salah Zahran</h1>
    <h5 id="college">State University of New York College at Buffalo</h5>
    <p id="degree">Bachelor of Science in Computer Information Systems</p>
    <h5></h5>
</div>

<div class="container", id="border">
    <div class="container", id="description">
        <h2>About Me</h2>
        <p>Lorem Ipsum Lorem Ipsum  Lorem Ipsum  Lorem Ipsum  Lorem Ipsum Lorem IpsumIpsum 
            <br>fdsafsd
            <br>sdafsdfas
            <br>sdafsdL</p>
    </div>
    <div>
        <img src="../static/images/salah-pic1.PNG", class="pic">
        <button type="button" class="btn btn-primary btn-lg" id="button">Download Resume</button>
    </div>

    <div class="container" id="interests">
        <div>
            <h2>Interests</h2>
            <p>These are my interests:</p>
        </div>
    </div>

    <div class="container" id="achievements">
        <div>
            <h2>achievements</h2>
            <p>These are my achievements</p>
        </div>
    </div>


</div>


{% endblock %}
