{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<div class="jumbotron" id="headline">
    <h1 id="name-head"><b>Salah Zahran</b></h1>
    <hr>
    <h5 id="college">State University of New York College at Buffalo</h5>
    <p id="degree">Bachelor of Science in Computer Information Systems</p>
    <h5></h5>
</div>

<div class="container", id="border">
    <div class="container", id="description">
        <h2>About Me</h2>
        <p>I'm Salah and I am fresh graduate in Computer Science. I love coding websites and 
            <br>making cool and fun programs. I am a python programmer and I love web development,
            <br>data science and machine learning! I'm currently working on my Master's degree, but 
            <br>am also looking for an entry level position in the meantime as well. I encourage anyone
            <br>to reach out to me, and also check out some of the projects I've created.</p>
    </div>
    <div>
        <img src="../static/images/profile.webp", class="pic">
        <button type="button" class="btn btn-primary btn-lg" id="button"> 
            <a href="./resume/salah-zahran-resume.pdf" id="resume-btn" download="sz-resume.pdf">Download Resume</a>
        </button>
    </div>
    
    <div class="container" id="interests">
        <div>
            <h2>Interests</h2>
            <ul>
                <li>Mathematics - Calculus, Linear algebra</li>
                <li>Software Development - web app development(full-stack), APIs </li>
                <li>Data Science - Data analysis, Machine/Deep Learning, Computer Vision</li>
                <li>Hobbies - Reading, Basketball, Video games</li>
            </ul>
        </div>
    </div>

    <div class="container" id="achievements">
        <div>
            <h2>Achievements</h2>
            <ul>
                <li>Honor Roll - <i>Magna Cum Laude</i></li>
                <li>Dean's List - National Honors Society</li>
            </ul>
        </div>
    </div>


</div>


{% endblock %}
