{% extends "base.html" %}

{% block content %}


<center><h1>Inbox</h1></center>
<hr>

<center>
<div class="jumbotron">
    <h1>Emails</h1><hr>
    <h5>Name</h5>
    {% for email in emails %}
        {{ email.name }}<br>
    {% endfor %}
    <br>
    <br>
    <h5>Email</h5>
    {% for email in emails %}
        {{ email.email_address }}<br>
    {% endfor %}
    <br>
    <br>
    <h5>Subject</h5>
    {% for email in emails %}
        {{ email.subject }}<br>
    {% endfor %}
    <br>
    <br>
    <h5>Message</h5>
    {% for email in emails %}
        {{ email.message }}<br>
    {% endfor %}
</div>
</center>


{% endblock %}
