{% extends "base.html" %}

{% block title %}Projects{% endblock %}


{% block content %}

<div style="color:maroon;">
    <div class="jumbotron">
        <h1 style="color:maroon"><center><b>Projects & Applications</b></center></h1>
        <hr>
    </div>

    <div class="jumbotron">
        <center>
        <h2>Portfolio Website</h2>
        <h5>Web application - Python, HTML, CSS</h5>
        <hr>
        <p>Created a portfolio web application using Flask back-end web framework and HTML/CSS. Used bootstrap to style the webpage and implemented a SQL structured database to store information. Accepts user messages in a contact form and emails them to the admin's email</p>
        </center>
    </div>


    <div class="jumbotron">
        <center>
        <h2>Database App</h2>
        <h5>Desktop application - Python, MS Excel</h5>
        <hr>
        <p>Created a desktop application that scrapted HTML data from an online database wesite using Selenium software. Cleaned and formatted table data involving over 1000 different entries and converterted those to a CSV file. Also developed a user interface by programming a GUI for the app to reside in using Tkinter, allowing users to fully interact with the application</p>
        </center>
    </div>


    <div class="jumbotron">
        <center>
        <h2>Task Automator App</h2>
        <h5>Desktop Application - Python/Selenium</h5>
        <hr>
        <P>Plan to create a task automation app using Python's Selenium software. Intended functions will include automated tasks such as website scraping, sending emails, loggin in and out of websites, and retrieving specific data from websites. Overall concept of the application is to act as a virtual assistant. Work currently in progress.</P>
        </center>
    </div>
</div>
{% endblock %}
